div.nav1 a:hover {
    font-weight: 500;
}

ol.breadcrumb a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

div.utama {
    display: flex;
}

.utama .kgambar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90px;
}

.tgambar {
    transition: 0.5s;
}

.tgambar:hover {
    border: 2px solid pink;
    border-radius: 25px;
    transform: scale(1.1);
}

.utama .kgambar img:hover {
    border: 2px solid pink;
    border-radius: 20px;
}

.text button {
    background-color: pink;
    width: 200px;
    border-radius: 25px;
    font-weight: 500;
}

.text button:hover {
    background-color: palevioletred;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    font-weight: 500;
}